<div class="review">
    <div class="review__inner">
        <p class="review__text">
            I really happy to see the result my new home. It’s really good house and good price too. And they work so
            fast becasue they have the best team. Once again, thankyou. I really appreciate it.
        </p>
        <span class="review__author">
            - Mr. Roberto
        </span>
    </div>
</div>