.info-about-company {
   
    &__subtitle, &__paragraph {
        margin-bottom: 16px;
    }

    &__paragraph {
        max-width: 425px;
    }

    &__achievements {
        display: flex;
        margin-bottom: 32px;
    }

    &__achievement {
        display: block;
        margin-right: 62px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 170%;
        color: $blue-color;

        &:last-child {
            margin-right: 0;
        }
    }
}