<button class="button">Contact us</button>

<!-- Этот файл я нигде не подключала.
Фактически button прописан в структуре тех блоков, где он содержится,
потому что если подключать его отдельным файлом непонятно как вставить в нужное место
и сделать позиционирование. А все scss файлы подключены. Т.е. блок я получается 
каждый раз повторяю там, где он нужен по структуре, а scss подтянется.
Непонятно, надо ли оставлять что-то в этом файле, по факту это как пример.
Если нужен button где-то, то отсюда просто можно копировать -->

