<nav class="menu">
    
    <% ['Home',
    'About',
    'Services',
    'Gallery',
    'Contact',
    'Story',
    'Careers',
    'News'
    ].forEach((item, index) => {%>
    <%- include("../menu/menu-item.ejs", {
        title:item,

    }) %>
<% }); %>

</nav>