<nav class="menu">
    <a href="#" class="menu__item">Home</a>
    <a href="#" class="menu__item">About</a>
    <a href="#" class="menu__item">Services</a>
    <a href="#" class="menu__item">Gallery</a>
    <a href="#" class="menu__item">Contact</a>
    <a href="#" class="menu__item">Story</a>
    <a href="#" class="menu__item">Careers</a>
    <a href="#" class="menu__item">News</a>
</nav>  