<div class="company-content <%- className %>">        
    <%-
        include("../project-examples-images/project-examples-images.ejs", {
            className: 'company-content__project-examples-images'
        })
    %>    
    <div class="project-examples-images__icon">
        <p class="project-examples-images__text">Pro licensed</p>
    </div>
    <%-
        include("../info-about-company/info-about-company.ejs", {
            className: 'company-content__info-about-company'
        })
    %>         
</div>