<div class="company-content company-content__position">
    <div class="project-examples-images company-content__project-examples-images">
        <%- include("src/components/project-examples-images/project-examples-images.ejs") %>
    </div>
    <div class="project-examples-images__icon">
        <p class="project-examples-images__text">Pro licensed</p>
    </div>
    <div class="info-about-company">
        <%- include("src/components/info-about-company/info-about-company.ejs") %>
            <button class="button">See more</button>
    </div>
</div>