.reviews {
    @include main-align(); 
    display: flex;
}
.reviews__block {
    background: #FFFFFF;
    max-height: 320px;
    padding: 50px 32px;
    position: relative;
}
.reviews__block::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 401px;
    background: #FFFFFF; 
    right: 0;   
    top: 0;
}
.reviews__subtitle {
    margin-bottom: 16px;       
}
.reviews__paragraph {
    margin-bottom: 32px;
    max-width: 195px;        
}
.reviews__image-wrapper {
    position: relative;
}
.reviews__image {
    display: block;    
}
.review {
    @include main-align();     
    display: flex;    
    justify-content: flex-end;
}
.review__inner {
    background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);    
    max-width: 416px;
    padding: 59px 24px 29px 50px;
    right: 0;
    bottom: -477%;    
    margin-top: -187px;
    z-index: 5;
}
.review::before {
    position: absolute;
    content: "";
    width: 102px;
    height: 102px;
    background: url(../images/review_author.png) no-repeat;     
    transform: translate(-335%, -220%);    
    z-index: 10;
}
.review__text {
    font-family: Poppins;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: $white-color;
    margin-bottom: 16px;
}
.review__author {
    font-family: Poppins;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: $white-color;    
}