<div class="reviews">
    <div class="reviews__block">
        <h2 class="subtitle reviews__subtitle">What our clients say?</h2>
        <p class="paragraph reviews__paragraph">See what our clients say about their new home</p>
    </div>
    <div class="reviews__image-wrapper">
        <img src="images/cottage_reviews.jpg" class="reviews__image" alt="">
    </div>    
</div>
<div class="review">
    <div class="review__inner">
    <p class="review__text">
        I really happy to see the result my new home. It’s really good house and good price too. And they work so
        fast becasue they have the best team. Once again, thankyou. I really appreciate it.
    </p>
    <span class="review__author">
        - Mr. Roberto
    </span>
</div>
</div>