.offer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px 50px;
    
}

.email__form {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    
    background: url(../css/img/BG.png) no-repeat;
    border-radius: 2px;
    
    flex-flow: column wrap;
    box-sizing: border-box;
    align-items: center;
    padding: 30px 50px;
    margin-bottom: -120px;
}

.form__title {
    max-width: 517px;
    height: 100%;
    left: 350px;
    margin: 10px;

    font-family: Poppins;
    font-weight: 700;
    font-size: 52px;
    line-height: 54px;
    text-align: center;
    color: #e6e6e6;
}

.form__subtitle {
    max-width: 400px;
    height: 54px;
    

    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #e6e6e6;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 10px 0px;
    font: inherit;
    vertical-align: baseline;

    
}


.emailform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;

    width: 517px;
    height: 58px;
    border-right: 0px 
}

.email__holder {
    width: 640px;
    height: 57px;
    padding-left: 16px;
}

.submit__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 40px 18px 40px;

    position: absolute;
    width: 138px;
    height: 62px;
    border: none;
    
    color: #ffffff;
    background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
}
