<section class="offer">
    <div class="email__form">
        <h1 class="form__title">Want to get our offer updates and news?</h1>
        <h2 class="form__subtitle">Sumbit your e-mail and we will give you update about information and discount.Every single week.(not spaming)</h2>
          <form class="container">
              <div class="submit">
                  <input placeholder="Enter your e-mail here" type="emailform" class="email__holder">
                  <button class="submit__button">Submit</button>
              </div>
          </form>
      </div>
</section>