.story {
    display: flex;    

    &__position {
        position: relative;

            &:not(:last-child) {
                margin-right: 26px;
            }
    }
   
    &__inner {            
        width: 416px;
        padding: 153px 52px 42px 22px;
        color: $gray-color;       

        &:hover {
            color: $white-color;
            background: url(../images/story_background.jpg) no-repeat;
        }
    }

    &__text {
        font-family: Poppins;
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 16px;
    }

    &__author {
        font-family: Poppins;
        font-style: italic;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
    }
}

.story_author_james::before {
    position: absolute;
    content: "";
    width: 102px;
    height: 102px;        
    top: 19px;
    left: 22px;   
    background: url(../images/review_author.png) no-repeat;    
}

.story_author_ahmed::before {
    position: absolute;
    content: "";
    width: 102px;
    height: 102px;        
    top: 19px;
    left: 22px;  
    background: url(../images/review_author_1.png) no-repeat;    
}

.story_author_marco::before {
    position: absolute;
    content: "";
    width: 102px;
    height: 102px;        
    top: 19px;
    left: 22px;  
    background: url(../images/review_author_2.png) no-repeat;    
}