<div class="story <%- className %>">
    <div class="story__inner">
        <p class="story__text">
            <%- title %>
        </p>
        <span class="story__author">
            <%- author %>
        </span>
    </div>
</div>