<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company DB- Career</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <%- include("src/components/header/header.ejs", {className: 'header_theme_career'}) %>
    <%- include("src/components/career-content/career-content.ejs") %>
    <%- include("src/components/footer/footer.ejs") %>
    <%- include("src/components/bottom-line/bottom-line.ejs") %>

    <script src="js/sort_careers.js"></script>
    
</body>

</html>