.header {
    background: url(../images/main_banner.jpg) no-repeat center;    
}
.header__position {
    margin-bottom: 115px;
}
.header__inner {
    max-width: 1250px;    
    margin: 0 auto;
    padding: 30px 0 156px;
}
.header__top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.header__central-content {
    padding: 25px;
}
.header__title {
    margin-bottom: 15px;
    max-width: 740px;
}
.header__text {
    margin-bottom: 32px;
    max-width: 445px;
}