<div class="partners partners__position">
    <h2 class="subtitle partners__subtitle">Our Partners</h2>
    <img src="images/j_construct.png" class="project-examples-images__image" alt="">
    <img src="images/arch.png" class="project-examples-images__image" alt="">
    <img src="images/whix_co.png" class="project-examples-images__image" alt="">
    <img src="images/dzikra.png" class="project-examples-images__image" alt="">
</div>