<div class="site-navigation">

    <div class="site-navigation__wrapper">

        <ul class ="site-navigation__section-items">
            <li class="site-navigation__section-item site-navigation__section-heading">Menu</li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Home</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">About</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Gallery</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Service</a></li>
        </ul>

        <ul class ="site-navigation__section-items">
            <li class="site-navigation__section-item site-navigation__section-heading">Contact</li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">E-mail</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Mobile</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Whatsapp</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Fax</a></li>
        </ul>

        <ul class ="site-navigation__section-items">
            <li class="site-navigation__section-item site-navigation__section-heading">Career</li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Job</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Part-time</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Internship</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Service</a></li>
        </ul>

        <ul class ="site-navigation__section-items">
            <li class="site-navigation__section-item site-navigation__section-heading">Business</li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Affiliate</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Collaboration</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">Investment</a></li>
            <li class="site-navigation__section-item"><a href="#" class="site-navigation__section-link">People</a></li>
        </ul>

    </div>
</div>