<div class="footer">

        <div class="site-navigaition">

                <div class="site-navigaition__section">
                    <ul class ="site-navigaition__section-links">
                        <li><h3><a href="#" class="site-navigaition__section-heading site-navigaition__section-link">Menu</a></h3></li>
                        <li><a href="#" class="site-navigaition__section-link">Home</a></li>
                        <li><a href="#" class="site-navigaition__section-link">About</a></li>
                        <li><a href="#" class="site-navigaition__section-link">Gallery</a></li>
                        <li><a href="#" class="site-navigaition__section-link">Service</a></li>
                    </ul>
                </div>

                <div class="site-navigaition__section">
                    <ul class ="site-navigaition__section-links">
                        <li><h3><a href="#" class="site-navigaition__section-heading site-navigaition__section-link">Contact</a></h3></li>
                        <li><a href="#" class="site-navigaition__section-link">E-mail</a></li>
                        <li><a href="#" class="site-navigaition__section-link">Mobile</a></li>
                        <li><a href="#" class="site-navigaition__section-link">Whatsapp</a></li>
                        <li><a href="#" class="site-navigaition__section-link">Fax</a></li>
                    </ul>
                </div>

                <div class="site-navigaition__section">
                    <ul class ="site-navigaition__section-links">
                        <li><h3><a href="#" class="site-navigaition__section-heading site-navigaition__section-link">Career</a></h3></li>
                        <li><a href="#" class="site-navigaition__section-link">Job</a></li>
                        <li><a href="#" class="site-navigaition__section-link">Part-time</a></li>
                        <li><a href="#" class="site-navigaition__section-link">Internship</a></li>
                        <li><a href="#" class="site-navigaition__section-link">Service</a></li>
                    </ul>
                </div>

                <div class="site-navigaition__section">
                    <ul class ="site-navigaition__section-links">
                        <li><h3><a href="#" class="site-navigaition__section-heading site-navigaition__section-link">Business</a></h3></li>
                        <li><a href="#" class="site-navigaition__section-link">Affiliate</a></li>
                        <li><a href="#" class="site-navigaition__section-link">Collaboration</a></li>
                        <li><a href="#" class="site-navigaition__section-link">Investment</a></li>
                        <li><a href="#" class="site-navigaition__section-link">People</a></li>
                    </ul>
                </div>

        </div>
</div>