.footer {
background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
display: flex;
padding: 60px 149px 74px 180px;

    &__left-content {
        display: flex;
        flex-direction: column;
    }

    &__address-item {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &__address-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    }
}