<div class="footer">

    <div class="footer__left-content">

    <%- include("src/components/logo/logo.ejs") %>   

    <div class="footer__address-item">
        <p class="footer__address-text">Lizenzo street number 12<br> Jakarta, Indonesia</p>
    </div>

    <%-
            include("src/components/button/button.ejs", {
                title: 'Get directions'               
            })
        %>

    </div>

    <%- include("src/components/site-navigation/site-navigation.ejs") %>  
</div>