<div class="search">
    <p class="search__message">No such vacancy.</p>
    <input class="search__input" type="search" placeholder="e.g. Web developer"> 
    <%- include("../button/button.ejs", { title: 'Search' }) %>
</div>
