* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

$white-color: #FFFFFF;
$blue-color: #056088;
$gray-color: #434343;

@mixin main-align() {
    max-width: 1300px;    
    margin-left: auto;
    margin-right: auto;    
}
@mixin medium-font() {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
@mixin large-font() {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;   
    color: $white-color;
}
@mixin title{
    font-size: 24px;
    font-weight: 700;
    line-height: 41.8px;
    color: $blue-color;
}

@import "components/animation-background/animation-background.scss";
@import "components/header/header.scss";
@import "components/header/header_theme_career.scss";
@import "components/header/header_theme_story.scss";
@import "components/logo/logo.scss";
@import "components/menu/menu.scss";
@import "components/button/button.scss";
@import "components/button-secondary/button-secondary.scss";
@import "components/main-title/main-title.scss";
@import "components/text/text.scss";
@import "components/company-content/company-content.scss";
@import "components/info-about-company/info-about-company.scss";
@import "components/project-examples-images/project-examples-images.scss";
@import "components/subtitle/subtitle.scss";
@import "components/paragraph/paragraph.scss";
@import "components/services-content/services-content.scss";
@import "components/benefits-content/benefits-content.scss";
@import "components/works-content/works-content.scss";
@import "components/reviews-content/reviews-content.scss";
@import "components/review/review.scss";
@import "components/partners/partners.scss";
@import "components/video/video.scss";
@import "components/subscription-form/subscription-form.scss";
@import "components/footer/footer.scss";
@import "components/site-navigation/site-navigation.scss";
@import "components/bottom-line/bottom-line.scss";
@import "components/career-content/career-content.scss";
@import "components/career-card/career-card.scss";
@import "components/search/search.scss";
@import "components/slider-text/slider-text.scss";
@import "components/story/story.scss";
@import "components/customer-opinion/customer-opinion.scss";
@import "components/slider-image/slider-image.scss";
@import "components/picture/picture.scss";
@import "components/subscription-pop-up/subscription-pop-up.scss";