<div class="subscription-pop-up">
    <p class="subscription-pop-up__message-text">
        Thank you for your subscription! We will send you the information about our services and discounts every week to <%- enteredEmailAddress %>
    </p>
    <div class="subscription-pop-up__close"></div>
</div>