<div class="customer-opinion <%- className %>">
    <div class="customer-opinion__inner">
        <img src="images/mr_james.png" class="customer-opinion__author-photo" alt="Photo of Mr. James">
        <div class="customer-opinion__text-content">
            <h5 class="customer-opinion__title">
                Mr. James’s says : “I’m so happy!”
            </h5>
            <p class="customer-opinion__text">
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>
</div>